<p>
  Showing <%= @deploys.size %> deploys.
  <% if action_name == 'all' %>
    <%= link_to 'View recent', root_path %>
  <% else %>
    <%= link_to 'View all', all_deploys_path %>
  <% end %>
</p>

<% @deploys.group_by { |d| d.time.to_date }.each_pair do |date, deploys| %>
  <% deploys.each_with_index do |deploy, idx| %>
    <div class='row'>
      <div class='col-md-2'>
        <%= deploy_date(deploy) if idx == 0 %>
      </div>
      <div class='col-md-10'>
        <div>
          <%= content_tag :a, "", name: deploy.short_ref %>
          <span class='deploy--time'>
            <%= deploy_time(deploy) %>
          </span>
          <span class='deploy--sha'>
            <%= github_diff_link(deploy) %>
          </span>
          <span class='deploy--user'>
            <%= deploy_user(deploy) %>
          </span>
          <span class='deploy--size'>
            (<%= deploy_size(deploy) %>)
          </span>
        </div>

        <% if deploy.missing_sha? %>
          <p>History was lost for this deploy.</p>
        <% elsif deploy.stories.empty? %>
          <p>Nothing to report.</p>
        <% else %>
          <ul>
            <% deploy.stories.sort_by(&:date).reverse.each do |story| %>
              <% story = StoryPresenter.new(story) %>
              <li class='story'>
                <span class='story--link'>
                  <%= ticket_link(story) %>
                </span>
                <span class='story--title'>
                  <%= story.title %>
                </span>
                <% if story.pull_request_uid %>
                  <span class='story--pr-link'>
                    <%= pull_request_link(story) %>
                  </span>
                <% else %>
                  <span class='story--commit-link'>
                    <%= commit_link(story) %>
                  </span>
                <% end %>
                <% if story.author %>
                  <span class='story--author'>
                    <%= story.author&.email %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>


        <hr>
      </div>
    </div>
  <% end %>
<% end %>
